<div class="hsdiv">
    <div class="text">
        <h3>Heya! I am,</h3><br>
        <h2 class="glitch" data-aos="flip-down" data-aos-duration="1200">Sai Rahul Urumu</h2>
        <h4><span class="cont"></span></h4>
    </div>
    <div class="img">
        <img src="/img/zoro.png" alt="Image" data-aos="zoom-in" data-aos-duration="1200"/>
    </div>
</div>

<div class="cont3">
    <h3> Me? </h3>
    <% if (titleArray.length > 0) { %>
        <div class="scroll-container">
            <div class="carousel-primary">
                <% titleArray.forEach(obj => { %>
                    <div class="item">
                        <img src="<%= obj.titleImg %>">
                        <div class="div">
                            <h4><%= obj.titleName %></h4>
                            <h5><%= obj.titleDesc %></h5>
                            <h6><%= obj.titleYear.getFullYear() %></h6>
                        </div>
                    </div>
                <% }); %>
            </div>
            <div class="carousel-primary carousel-secondary">
                <% titleArray.forEach(obj => { %>
                    <div class="item">
                        <img src="<%= obj.titleImg %>">
                        <div class="div">
                            <h4><%= obj.titleName %></h4>
                            <h5><%= obj.titleDesc %></h5>
                            <h6><%= obj.titleYear.getFullYear() %></h6>
                        </div>
                    </div>
                <% }); %>
            </div>
        </div>
    <% } %>     
</div>

<div class="cont4">
    <h3>Skills?</h3>
    <div class="stuff">
        <div class="languages">
            <h2>Languages</h2>
            <ul>
                <% langArray.forEach(obj => { %>
                    <li><%= obj.langName %> </li>
                <% }); %>
            </ul>
        </div>
        <div class="frameworks">
            <h2>Frameworks</h2>
            <ul>
                <% fwArray.forEach(obj => { %>
                    <li><%= obj.frameName  %></li>
                <% }); %>
            </ul>
        </div>
    </div>
    <h3>Certifications?</h3>
    <div class="certif">
        <ul>
            <% certifArray.forEach(element => { %>
                <li> <%= element.certifName %>  - <%= element.yearOfCompletion.getFullYear() %> </li>
            <% });  %>
        </ul>
    </div>
</div>

<div class="cont5">
    <h3>Projects?</h3>
    <% if(projArray.length > 0) { %>
        <div class="projectsCont5">
            <% for(let i=0; i<Math.min(4, projArray.length); i++) { %>
                <div class="proj">
                    <img src="<%= projArray[i].image %>" class="projectImage">
                    <h2> <%= projArray[i].projectTitle %></h2>
                    <h3><%= projArray[i].projDesc %></h3>
                    <a href="<%= projArray[i].githubLink %>"><h3>githublink</h3></a>
                </div>
            <% } %>
        </div>
    <% } %>
    <div class="moreProjects">
        <hr>
        <a href="/projects" class="smProj">More?</a>
        <hr>
    </div>

</div>

<div class="cont2">
    <div class="clock">
        <img src="/img/umm.gif" class="gifum p2"/>
        <div class="hr"></div>
        <div class="min"></div>
        <div class="sec"></div>
    </div>
    <div class="text2 p2">
        <h3>Wanna know more about me?</h3>
        <a href="/contact">Click Here to contact me!</a>
    </div>
</div>
